div {
    border: black solid 2px;
}

.header {
    text-align: center;
    color: black;
    font-family: 'Rubik', sans-serif;
}
.navbar {
    display: flex;
    background-color: black;
    position: sticky;
    justify-content:space-evenly;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.navbar a:hover {
    background-color: white;
    color: black;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: center;
}

.flex-item-left {
    background-color: white;
    padding: 10px;
    flex: 1 0 30%;
}

.flex-item-middle {
    background-color: dodgerblue;
    padding: 10px;
    flex: 1 0 30%;
}
.flex-item-right {
    background-color: red;
    padding: 10px;
    flex: 1 0 30%;
}
.footer{
    display:flex;
}
#my-form > label {
    display: flex;
}

#my-form > label > span {
    display: flex;
    width: 150px;
}

#my-form > label > input {
    width: calc(100% - 80px);
}

  /* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
    .flex-item-right, .flex-item-middle, .flex-item-left, .navbar {
    flex: 100%;
    }
}

@media (max-width: 800px) {
    .navbar, #my-form {
    flex-direction: column;
    }
}